<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sncfc.analytic.dao.TestMapper">
    <select id="getUser" resultType="com.sncfc.analytic.pojo.User">
        select * from s_test where id = #{id}
    </select>
    <select id="getUserMap" resultType="java.util.Map">
        select * from s_test where id = #{id}
    </select>
</mapper>